<odoo>
	<data>
		<menuitem id="vit_status_aset_top_menu" name="Status Asset" sequence="20" web_icon="vit_status_aset,static/description/icon.png" />
		<menuitem id="vit_status_aset_sub_menu" name="Operations" sequence="40" parent="vit_status_aset_top_menu" />
		<menuitem id="vit_status_aset_config_menu" name="Configurations" sequence="50" parent="vit_status_aset_top_menu" />
	</data>
</odoo>