<odoo>
	<data>
		<menuitem id="vit_data_mahasiswa_top_menu" name="Data Mahasiswa" sequence="20" web_icon="vit_data_mahasiswa,static/description/icon.png" />
		<menuitem id="vit_data_mahasiswa_sub_menu" name="Operations" sequence="40" parent="vit_data_mahasiswa_top_menu" />
		<menuitem id="vit_data_mahasiswa_config_menu" name="Configurations" sequence="50" parent="vit_data_mahasiswa_top_menu" />
	</data>
</odoo>