<odoo>
	<data>
		<menuitem id="vit_tks_top_menu" name="Tata Kelola Surat" sequence="20" web_icon="vit_tks,static/description/icon.png" />
		<!-- <menuitem id="vit_tks_sub_menu" name="Operations" sequence="40" parent="vit_tks_top_menu" />
		<menuitem id="vit_tks_config_menu" name="Configurations" sequence="50" parent="vit_tks_top_menu" /> -->
	</data>
</odoo>