<odoo>
	<data>
		<menuitem id="vit_mutasi_top_menu" name="Mutasi" sequence="20" web_icon="vit_mutasi,static/description/icon.png" />
		<menuitem id="vit_mutasi_sub_menu" name="Operations" sequence="40" parent="vit_mutasi_top_menu" />
		<menuitem id="vit_mutasi_config_menu" name="Configurations" sequence="50" parent="vit_mutasi_top_menu" />
	</data>
</odoo>