<odoo>
	<data>
		<menuitem id="vit_dokumen_top_menu" name="Informasi" sequence="20" web_icon="vit_dokumen,static/description/icon.png" />
		<menuitem id="vit_dokumen_sub_menu" name="Operations" sequence="40" parent="vit_dokumen_top_menu" />
		<menuitem id="vit_dokumen_config_menu" name="Configurations" sequence="50" parent="vit_dokumen_top_menu" />
	</data>
</odoo>